[
  {
    "cid": "test",
    "key": "test_key_1",
    "secret": "example_only_not_for_deployment_aaaaaaaaaaaa"
  },
  {
    "cid": "test",
    "key": "test_key_2",
    "secret": "example_only_not_for_deployment_bbbbbbbbbbbb"
  }
]
